.payment-wrapper {
    display: flex;
    flex-direction: column;

    box-shadow: 0 4px 8px lightgray;
    border: 1px solid lightgray;
    border-radius: 2em;

    width: 100%;
    max-width: 50em;
    overflow: hidden;
}

.payment-header {
    display: flex;
    justify-content: space-between;

    background-color: #f0f2f2;
    padding: 1em;
}

.payment-header > span {
    display: inline-flex;
    align-items: center;

    font-weight: 600;
}

.payment-header > span > .fa-solid {
    color: #3eb6ee;

    font-size: 2em;
    margin-left: 0.5em;
}

.payment-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 40em;
}

.payment-body > img {
    width: 40em;
}

.payment-body > span {
    font-size: 1.7em;
    font-weight: 600;
}