* {
    box-sizing: border-box;
}

.workwithus {
    max-width: 75em;
    margin-bottom: 3.125em;
    padding: 1.25em;
    margin-left: auto;
    margin-right: auto;
}

.innovazione, .image, .text-missione, .parte-cresci {
    width: 50%;
}

.innovazione, .text-missione2, .parte-cresci {
    text-align: justify;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 0.625em;
}

.parte-innovazione, .missione, .cresci {
    display: flex;
    align-items: flex-start;
    gap: 2.5em;
    margin-bottom: 6.25em;
}

.missione {
    margin-bottom: 4.375em;
}

@media screen and (max-width: 48em) {
    .parte-innovazione, .missione, .cresci {
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
        margin-bottom: 3.5em;
    }

    .innovazione, .image, .text-missione, .parte-cresci {
        width: 100%;
    }

    .innovazione, .text-missione2, .parte-cresci {
        text-align: center;
    }

    .image img {
        margin: 0 auto;
    }

    .workwithus {
        padding: 1em;
    }
}