header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(ellipse, #3eb6ee, #1c3a70);

    padding-top: 7.41em;
    margin-bottom: 3em;
}

.top-bar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(ellipse, #3eb6ee, #1c3a70);

    top: 0;
    position: fixed;
    z-index: 1000;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;
    width: 90em;
    padding: 1.5em 0;
}

#banner-image {
    width: 15em;
}

.user-actions {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.user-actions a {
    text-decoration: none;
}

.user-action {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    font-size: 1.3em;
    color: #3eb6ee;

    transition: 0.1s ease;
}

.user-action:hover {
    transform: translateY(-3px);
}

.header-line {
    width: 100%;
    border: 0;
    height: 3px;
    background: #3eb6ee;
    margin: 0;

    box-shadow:
            0 0 8px 3px rgba(62, 182, 238, 0.7),
            0 0 15px 6px rgba(62, 182, 238, 0.5),
            0 0 25px 12px rgba(62, 182, 238, 0.3);
}

.search-bar {
    margin: 3em 0;

    width: 100%;
    max-width: 40em;

    border-radius: 35px;
    background: white;
    padding: 0.6em;

    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
}

#search-icon {
    color: #bdbdbd;
    margin-left: 0.5em;
    font-size: 1.3em;
}

.search-bar, .search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 0.5em;
}

.search-form {
    width: 100%;
}

.search-form input {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    outline: none;
    border: none;
}

.search-input {
    width: 100%;
}

.search-btn {
    background-color: #3eb6ee;
    color: white;
    border-radius: 30px;

    padding: 0.5em 0.9em;
    cursor: pointer;

    transition: 0.3s ease;
}

.search-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

.main-nav {
    margin-bottom: 2em;
}

.main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    gap: 1em;
}

.main-nav ul a {
    text-decoration: none;
    color: white;

    display: block;
    padding: 0.6em 0.8em;
    font-weight: 500;
    letter-spacing: 0.05em;
    border-bottom: 2px solid transparent;

    transition: 0.1s ease;
}

.main-nav ul a:hover {
    color: #76d3ff;
    border-bottom: 2px solid #76d3ff;
}

.main-nav ul a:active {
    background-color: rgba(28, 58, 112, 0.5);
    border-bottom: 2px solid transparent;
    transform: translateY(2px);
}

@media (min-width: 120em) {
    .top-bar {
        width: 100%;
        padding: 1.5em 15em;
    }

    .search-bar {
        width: calc(100% - 80em);
        max-width: 100%;
    }
}