.list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;

    width: 100%;
    max-width: 110em;
}

.list-wrapper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2.5em;
    font-weight: 700;
}

.add-product {
    font-family: "Poppins", sans-serif;
    font-size: 1em;

    cursor: pointer;
    display: inline-block;
    color: white;
    background-color: #3eb6ee;

    border-radius: 2em;
    border: #0096da 2px solid;

    padding: 0.5em 1em;
    transition: 0.1s ease;
}

.add-product:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

.product-message {
    display: flex;
    align-items: center;
    justify-content: start;

    gap: 0.2em;

    padding: 1em;
    border-radius: 1em;

    background-color: #c4ffaa;
    border: #277a00 2px solid;
    color: #277a00;

    transition:
            opacity 0.3s ease,
            visibility 0.3s step-end,
            max-height 0.3s ease,
            padding 0.3s ease,
            margin 0.3s ease;
    max-height: 4em;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}

.product-message.hide {
    opacity: 0;
    visibility: hidden;

    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-width: 0;
}

.list-filter {
    display: grid;
    grid-template-columns: 1fr 0.6fr 1.4fr 0.15fr;
    gap: 0.3em;
    color: #6f7376;
}

.filter {
    display: flex;
    padding-right: 0;

    border: 1px #a9a9a9 solid;
    border-radius: 8px;
    overflow: hidden;
}

.filter input, .filter select {
    border: none;
    outline: none;
    margin: 0;
    font-family: "Poppins", sans-serif;

    width: 100%;
    padding: 0.3em 0.5em;
}

.filter > :first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.filter > *:only-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.span-separator {
    background-color: #e9eaee;
    padding: 0.3em 0.5em;
    margin: 0;
    font-size: 0.8em;

    border-right: 1px #a9a9a9 solid;
    border-left: 1px #a9a9a9 solid;

    display: flex;
    align-items: center;
    justify-content: center;
}

.filter > .span-separator:first-child {
    border-left: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.filter > *:last-child {
    border-right: none !important;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.list-filter > input[type="submit"] {
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;

    font-family: "Poppins", sans-serif;

    background-color: #3eb6ee;
    border-radius: 25px;
    color: white;

    transition: 0.2s ease;
}

.list-filter > input[type="submit"]:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

label[for="search-query"] {
    display: flex;
    align-items: center;
    margin-left: 0.5em;
    color: #bdbdbd;
}

.list {
    display: flex;
    flex-direction: column;

    border: 1px #a9a9a9 solid;
    font-size: 0.95em;
    border-radius: 7px;
}

.list-row {
    display: grid;
    grid-template-columns: 0.2fr 0.7fr 0.7fr 0.3fr 0.4fr 0.3fr 0.3fr 0.35fr 0.5fr;
    gap: 0.5em;

    padding: 0.4em;
    border-bottom: 1px #a9a9a9 solid;
}

.list .list-row:last-child {
    border-bottom: none;
}

.list-row:not(.header):hover {
    background-color: #e9e9e9;
}

.list-row > span {
    display: inline-flex;
    align-items: center;

    overflow: hidden;

    padding: 0 0.2em;
}

.list-row > span:nth-child(6),
.list-row > span:last-child {
    display: flex;
    align-items: center;
    gap: 0.3em;
    overflow: visible;
}

.list-row > span > img {
    width: 100%;
    border-radius: 0.6em;
}

.list-row > span > .status-pill, .action-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.2em 0.8em;

    color: white;
    font-size: 0.8em;
    border-radius: 25px;
}

.list-row > span > .status-pill.active {
    background-color: #34944a;
}

.list-row > span > .status-pill.hidden {
    background-color: #f6af3d;
}

.list-row > span > .status-pill.canceled {
    background-color: #da1d1d;
}

.list-row.header {
    font-weight: 600;
}

.list-filter > .filter:last-child input:only-child {
    border-radius: 7px;
}

.modify-form {
    width: fit-content;
}

.action-button {
    font-family: "Poppins", sans-serif;
    background-color: #3eb6ee;
    outline: none;
    border: none;

    cursor: pointer;

    transition: 0.2s ease;
}

.action-button:hover {
    background-color: #2b7b9f;
}

.empty-list {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 20em;

    font-style: italic;
}