.newsletter-result{
    background: linear-gradient(135deg, rgba(62,182,238,0.40) 0%, rgba(62,182,238,0.10) 100%);
    max-width:600px;
    text-align: center;
    padding:24px;
    margin:40px auto;
    box-shadow:
            inset 0 0 20px rgba(62, 182, 238, 0.2),
            0 10px 40px -10px rgba(62, 182, 238, 0.5),
            5px 5px 10px 0 rgba(0, 0, 0, 0.3);
    color:#004a91;
    border-radius: 15px;
}

.newsletter-result p {
    font-size:1.3em;
    font-weight: 600;
    margin: 0;
}