.p-manager-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 90em;
    gap: 0.5em;
}

.p-manager-header {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.p-manager-wrapper .title {
    font-size: 1.2em;
    font-weight: 500;
}

.p-manager-header hr {
    margin: 0;
    border: none;
    border-bottom: 1px #ababab solid;
}

.p-manager-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.p-manager-form-inputs {
    display: flex;
    gap: 1em;
    min-width: 0;
}

.p-manager-files-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 0;

    gap: 0.6em;
}

.p-manager-details, .p-manager-imgs, .p-manager-files {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: black 1px 2px 5px 0;
    width: 50%;
    min-width: 0;
}

.p-manager-imgs, .p-manager-files {
    width: 100%;
    height: 100%;
    max-height: 16.976em;

    gap: 0.8em;
}

.input-row {
    display: flex;
    flex-direction: column;
}

.input-row.double {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    column-gap: 0.4em;
}

.input-row.double.even {
    grid-template-columns: 1fr 1fr;
}

.input-row :is(input, textarea, select) {
    font-family: "Poppins", sans-serif;
    padding: 0.4em 0.7em;
    border: 1px #a9a9a9 solid;
    border-radius: 1.5em;
    outline: none;
    overflow: hidden;
}

.input-row textarea {
    height: 15em;
    resize: none;
}

:is(.p-manager-imgs, .p-manager-files) input[type="file"] {
    padding: 2em;
    background-color: #f1f1f1;
    border: dashed #a9a9a9 2px;
    border-radius: 1.5em;
    font-family: "Poppins", sans-serif;
}

:is(.p-manager-imgs, .p-manager-files) input[type="file"]::-webkit-file-upload-button {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background-color: #3eb6ee;
    border-radius: 1.5em;
    color: white;
    padding: 0.5em 0.7em;
    margin-right: 0.5em;
    transition: 0.2s ease;
}

:is(.p-manager-imgs, .p-manager-files) input[type="file"]::-webkit-file-upload-button:hover {
    transform: scale(1.05);
    box-shadow: black 1px 2px 5px 0;
}

.preview-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.6em;
    width: 100%;
    overflow-x: auto;
}

.preview-wrapper .preview-item {
    flex: 0 0 4.5em;
    height: 4.5em;
    border: 1px #a9a9a9 solid;
    border-radius: 0.6em;
    overflow: hidden;
    position: relative;
}

.preview-wrapper .preview-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.preview-wrapper .preview-item .delete-item {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    cursor: pointer;
    height: fit-content;
    color: darkred;
    position: absolute;
    top: 0.2em;
    right: 0.1em;
    z-index: 10;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 2px;
}

.files-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    width: 100%;
    max-height: 15em;
    overflow-y: auto;
    padding-right: 0.5em;
}

.list-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.3em 0.6em;
    border: 1px solid #a9a9a9;
    border-radius: 0.5em;
    background-color: #fff;
    flex-shrink: 0;
    font-size: 0.8em;
    overflow: hidden;
}

.list-item .file-name {
    flex: 1;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item .delete-item {
    color: darkred;
    cursor: pointer;
    flex-shrink: 0;
}

.p-manager-form-controls {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.p-manager-form-controls :is(input[type="submit"], span) {
    font-family: "Poppins", sans-serif;
    padding: 0.4em 0.7em;
    width: 12%;
    cursor: pointer;

    border: none;
    border-radius: 2em;
    color: white;

    transition: 0.2s ease;
}

.p-manager-form-controls :is(input[type="submit"], span):hover {
    box-shadow: black 1px 2px 5px 0;
    transform: translateY(-3px);
}

.p-manager-form-controls span {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 0.85em;
}

.p-manager-form-controls input[type="submit"] {
    background-color: #3eb6ee;
}

.p-manager-form-controls .cancel {
    background-color: #b7b7b7;
}

.p-manager-form-controls .delete {
    background-color: red;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 40em;
    width: 100%;
    height: 10em;

    font-style: italic;

    border-radius: 1.5em;
    box-shadow: 0 0 0 3px rgba(111, 211, 231, 0.25);
    border: 2px solid #7fd8ec;
}